@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background: #ECECEC;
  --primary:#333333;
  --secondary: #FFFFFF;
  --secondaryA:#F3F3F3;
  --secondaryB:rgba(217,217,217,30%);
  --secondaryC:#E6E9EC;
  --button-primary: #058ED9;
  --text: #f8f8f8;
  --text-information: #f8f8f8;
  --navigation: #2D2D34;
  --table-head: #4a2179;
  --table-body: #2b9160;
}

.theme-dark {
  --background: #ECECEC;
  --primary:#333333;
  --secondary: #FFFFFF;
  --secondaryA:#F3F3F3;
  --secondaryB:rgba(217,217,217,30%);
  --secondaryC:#E6E9EC;
  --button-primary: #058ED9;
  --text: #f8f8f8;
  --text-information: #f8f8f8;
  --navigation: #2D2D34;
  --table-head: #4a2179;
  --table-body: #2b9160;
}
